/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Strait);

body {
  background-color: #EBE7D7;
  font-family: "Strait";
}
.container, .navbar-fixed-top > .container {
  width: 700px;
}
.main {
  margin-top: 100px;
}
.navbar-fixed-top {
  padding: 15px 0;
}
h1.logo {
  font-family: "Share Tech Mono";
  float: left;
}
ul.nav-links {
  list-style-type: none;
  float: right;
  margin-top: 18px;
  li {
    display: inline-block;
    margin-left: 25px;
    a {
      padding: 5px 8px;
      border: 2px solid #888;
      border-radius: 5px;
      font-size: 11px;
      text-decoration: none;
      color: #333;
    }
  }
}
